name: Build & Deploy
on:
  push:
  workflow_dispatch:

jobs:
  vite-mikrofrontend:
    uses: navikt/teamesyfo-github-actions-workflows/.github/workflows/vite-mikrofrontend.yaml@dependabot-fix
    permissions:
      contents: read
      id-token: write
      packages: write
    secrets: inherit
    with:
      app: aktivitetskrav-mikrofrontend
      id: syfo-aktivitetskrav
